body {
  font-family:sans-serif;
  background:linear-gradient(to bottom, rgba(253, 29, 162, 1) 0%, rgba(253, 29, 162, 1) 32%, rgba(49, 217, 247, 1) 100%);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:white;
  width:auto;
  height:auto;
  overflow-x:hidden;
  margin:0px;
}


#social-buttons {
  display:inline-block;
  position: absolute;
  left:0px;
  bottom:0px;
  padding-left:0px;
  list-style-type:none;
  margin-bottom:10px;
}

#social-buttons li {
  display:inline-block;
  font-size:32px;
  color:white;
  margin:0 5px;
}

.patreon-icon{
  position:relative;
  top:2px;
}

#search-filter {
  display:inline-block;
  position: absolute;
  right:0px;
  bottom:0px;
  list-style-type:none;
  margin-bottom:10px;
}

#search-filter li {
  display:inline-block;
  font-size:24px;
  color:white;
  margin:0 5px;
  cursor:pointer;
}

#filter-highlight {
  position:absolute;
  background:yellow;
  width:30px;
  height:30px;
  right:1px !important;
  left:auto;
  bottom:-2px;
  z-index:-64;
  transition:0.5s;
}

#search-filter .filter-active {
  color:black;
}
.fa-star {
  position:relative;
  top:2px;
}

#title {
  text-align:center;
  width:95%;
  margin:0 auto 50px;
  display:block;
  position:relative;
  border-bottom:6px solid white;
}
#title h1 {
  font-family:PressStartKRegular, sans-serif;
  -webkit-filter: drop-shadow(3px 4px 0px rgba(0,0,0,1));
}

#title h1 a {
  text-decoration: none;
  color:white;
}

#title h1 img {
  width:200px;
  vertical-align: middle;
  margin-right:20px;
}

#title h1 a:hover,
#title h1 a:hover + span {
  animation: blink 0.1s linear infinite;
}

#title h1 span {
  cursor:default;
}

h1 {
  display:inline-block;
  font-size:64px;
  margin:80px 0 84px;
}
h2{
  margin:0 auto;
}
h3 {
  font-family: PressStartKRegular, sans-serif;
  margin:0 0 5px;
  text-decoration: underline;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}

#changeLogButton {
  font-size:20px;
  font-weight:bold;
  color:black;
  background:yellow;
  width:125px;
  height:25px;
  padding:3px 5px;
  cursor:pointer;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  border-radius:5px 5px 0 0;
}

#changeLog {
  display: none;
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  width:35%;
  height:100px;
  overflow: auto;
  color:black;
  background:yellow;
  text-align: left;
  margin: 0px auto 20px;
  padding:20px;
  border-top:5px solid yellow;
  border-bottom:5px solid yellow;
  border-left:2px solid yellow;
  border-right:2px solid yellow;
  border-radius:0 0 10px 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  z-index:10;
}

#changeLog .date {
  font-style: italic;
  font-size:12px;
  margin-left:10px;
}

#changeLog ul {
  margin-top:5px;
}

#changeLog ul li {
  font-size:12px;
  font-weight: bold;
}

/* Let's get this party started */
#changeLog::-webkit-scrollbar {
  width: 6px;
  padding:5px;
}

/* Track */
#changeLog::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#changeLog::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.64);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#changeLog::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}

#search {
  width:80%;
  text-align: center;
  margin:0 auto;
  display:;
  position: relative;
}
#search:focus,
#search input:focus {
  outline:none;
}

#search input {
  width:80%;
  height:64px;
  font-size:24px;
  padding:0 20px;
  border-radius:10px;
  border:none;
  position: relative;
  font-family:PressStartKRegular, sans-serif;
}

#search-clear {
  display:none;
  position: absolute;
  right: 10%;
  font-size: 28px;
  opacity: 0.5;
  top: 26%;
  color: #333;
  /*display: inline-block;*/
  cursor:pointer;
}

#board {
  margin:0 auto;
  width:95%;
  text-align:center;
  display: block;
  position: relative;
}

#mobileInstructions {
  width:100%;
  text-align:center;
  display:none;
}
#mobileInstructions p {
  font-size:18px;
}
#mobileInstructions pre{
  white-space:pre-wrap;
  font-size:16px;
}
.yellow-highlight {
  background:yellow;
  color:black;
  padding:2px;
}
#gotIt {
  width:80px;
  height:23px;
  font-size:18px;
  font-weight:bold;
  border-radius:10px;
  background:yellow;
  color:black;
  padding:5px;
  margin:10px auto;
  cursor:pointer;
  box-shadow:2px 2px 1px rgba(51, 51, 51, 0.5);
}
.small-divider {
  width:95%;
  background:white;
  height:6px;
  margin:20px auto;

}

#filters {
  width:100%;
  height:64px;
}
#filter-list {
  list-style-type:none;
  width:100%;
  padding-left:0px;
  display:none;
}
.quote-filter {
  display:inline-block;
  height:15px;
  color:#333;
  width:13%;
  padding: 10px 0;
  background-color:yellow;
  font-size:14px;
  text-transform: uppercase;
  margin:0 -1px;
  font-weight:bold;
  cursor:pointer;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  transition:0.5s;
  /*box-shadow:1px 2px 2px rgba(0,0,0,0.5);*/
}
/*.quote-filter:hover {
  background-color:red;
}*/
.filter-inactive {
  background:none;
  color:white;
}
/*.filter-inactive:hover {
  background:green;
}*/
#favorites {
  display:none;
  text-align:center;
}


#board-list {
  text-align: left;
  display:none;
  margin-top:40px;
}

#board-list li {
  display:inline-block;
  width:137px;
  height:150px;
  margin:20px 0;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  transition:0.5s;
}
.portrait-image {
  -webkit-filter: grayscale(100%) sepia(64%) drop-shadow(1px 2px 2px rgba(0,0,0,0.5));
  width:137px;
  height:150px;
  margin:10px;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
}
.portrait-image:hover {
    -webkit-filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.5));
    cursor:pointer;
}
.portrait-image:hover + .tool-tip,
.tool-tip:hover,
.portrait-image:hover + .tool-tip + .speech-bubble,
.speech-bubble:hover {
  display:block !important;
  opacity: 1 !important;
}


.portrait-image:active {
  -webkit-filter: grayscale(0%) drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
filter: grayscale(0%) drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
transform: scale(0.98, 0.98);
}

.tool-tip {
  padding:10px;
  background:yellow;
  color:black;
  text-transform:uppercase;
  position: absolute;
  font-weight:bold;
  top:0;
  display:none;
  z-index:10;
}
.triangle {
    border-color: yellow transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -10px;
}
.portrait-marq {
  display:none;
  margin-top:-20px;
  font-style:italic;
}

.speech-bubble {
  display:none;
  opacity:0;
  z-index:20;
  background:none;
  color:#333;
  font-weight:normal;
  font-family: monospace;
  padding:10px;
  position:absolute;
  top:135px;
  left:24px;
  min-width:200px;
  border-radius: 0 30px 30px 30px;
  /*box-shadow:1px 2px 2px #333;*/
  /*border:1px solid #333;*/
  transition: 0.5s;
}
.speech-bubble:hover {
  opacity: 1;
  display: block;
}

.quote-text {
  font-weight:bold;
  font-size:14px;
  background: white;
  /*border:1px solid #333;*/
}

.quote-divider {
  width: 10px;
  position: relative;
  background: black;
  display: block;
  height: 0px;
  margin-top:-1px;
  /*margin: 7px 0;*/

}

.quote-source {
  font-style:italic;
  font-size:12px;
  background: white;
  padding:0 2px;
  /*border:1px solid #333;*/

}
.speech-triangle {
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -46px;
    left: 0%;
    margin-left: -10px;
}

.hide-portrait {
  display:none;
}

.noAudio {
  position: absolute;
  width:20px;
  height:20px;
  text-align: center;
  bottom: 5px;
  right: 0;
  color: white;
  font-size: 18px;
  border-radius: 100px;
  padding: 4px;
  background:#fd1da2;
  /*opacity:0.5;*/
  /*background: #4b4bf5;*/
  /*background:purple;*/
  /*animation: puls 3s ease infinite;*/
}
.newBadge {
  position: absolute;
  width:25px;
  height:25px;
  text-align: center;
  top: 5px;
  right: 0;
  color: yellow;
  font-size: 12px;
  font-weight:bold;
  text-transform:uppercase;
  border:2px solid white;
  border-radius: 100px;
  padding: 4px;
  /*background:#fd1da2;*/
  /*opacity:0.5;*/
  /*background: rgba(49, 217, 247, 1) 100%;*/
  background: black;
  /*background:purple;*/
  animation: new 2.5s ease infinite;
  cursor:default;
}

.newBadge span {
  top:5px;
  left:-1px;
  position: relative;
}

.audioSlash {
  display:none;
  position: absolute;
  right: 12px;
  top: 0px;
  height: 28px;
  width: 2px;
  transform: rotate(45deg);
  background: #ff3030;
}
#cookies {
  background: rgba(51, 51, 51, 0.84);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 160px;
  padding: 20px;
  font-size:24px;
  box-sizing: border-box;;
  text-align:center;
  display:none;
  z-index:20;
}

#cookies p,
#cookies img {
  display: inline-block;
}

#cookies img {
  width: 200px;
  vertical-align: middle;
}

#close-timtams {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size:26px;
  cursor: pointer;
}

#footer {
  text-align: center;
  margin: 20px auto;
  padding:20px 0;
  display: block;
  width:95%;
  border-top:6px solid white;
}

#footer p {
  text-align: center;
  font-size:16px;
  line-height:1.5;
}

#footer p a {
  color:;
  font-weight:bold;
  text-decoration:none;
  border-bottom:3px solid #c1b65f;
  line-height:1.5;
}

#footer p a:hover {
  border-bottom-color: #63590c;
}

#backToTop {
  width:25px;
  height:25px;
  background:yellow;
  text-align:center;
  padding:10px;
  border-radius:10px;
  color:black;
  position:fixed;
  bottom:20px;
  right:20px;
  border-right:2px solid #333;
  border-bottom:2px solid #333;
  cursor:pointer;
  display:none;
}

.ron-paul {
  width:150px;
  height:128px;
  margin-top:0px;
  margin-left:0px;
  transition:5s;
}
.super-ron {
  width:1500px;
  height:1500px;
  margin-top:-840px;
  margin-left:-640px;
  -webkit-filter:grayscale(1);
  transition:35s;
}
.trippy {
  animation:puls 0.5s linear infinite;
  transition:15s;
  transform:rotate(720deg);
}
.exploding {
  animation: gunther 0.05s linear infinite alternate;
  background: url('../images/nuke.gif');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.explosion {
  background: url('../images/explosion.gif');
  background-size:150px 150px;
  height: 150px;
  width: 150px;
  position:absolute;
}

/*Auto Complete Styling*/
.autocomplete-suggestions {
  font-family: PressStartKRegular, sans-serif;
}

/*Portrait Classes*/
.treCool {
  background-image:url('../images/tre-cool.png');
}
.Rocco_1 {
  background-image:url('../images/rocco3.png')
}
.newBatman {
  background-image:url('../images/new-batman.png');
  height:160px;
  transform:translateY(-25px);
}
.newBatman:active {
  transform:translateY(-25px) scale(0.98,0.98);
}
.newBatman + .tool-tip + marquee {
  transform:translateY(-8px);
}

.dogBountyHunter {
  background-image:url('../images/dog-the-bounty-hunter2.png');
}

.dogBountyHunter + .tool-tip {
  top:-17px;
  width:150px;
}

.Eric_1 {
  background-image:url('../images/eric.png');
}

.Garrett_1 {
  background-image:url('../images/garrett2.png');
}
.Garrett_EA {
  background-image:url('../images/garrett_ea.png');
}

.Derrick_1 {
  background-image:url('../images/derrick.png');
}
.Derrick_2 {
  background-image:url('../images/derrick2_2.png');
}

.z_sixtyFour {
  background-image:url('../images/64.png');
}

.Shawn_1 {
  background-image:url('../images/shawn.png');
}
.Kevin_1 {
  background-image:url('../images/kevin.png');
}
.Bryan_1 {
  background-image:url('../images/bryan2.png');
}
.neo {
  background-image:url('../images/neo.png');
}
.jared {
  background-image:url('../images/jared.png');
}
.writing-room {
  background-image:url('../images/writing-room.png');
}

.writing-room + .tool-tip {
  width:135px;
  top:-20px;
}
.christopherDemon {
  background-image:url('../images/christopher-demon2.png');
}
.bobbyBrown {
  background-image:url('../images/bobby-brown.png');
}
.bobbyBrown + .tool-tip {
  width:125px;
}
.culdesac {
  background-image:url('../images/culdesac.png');
}
.timCuck {
  background-image:url('../images/tim-cuck.png');
}
.merchant {
  background-image:url('../images/merchant.png');
}
.robber {
  background-image: url('../images/robber.png');
}
.robber + .tool-tip {
  width:135px;
}
.z_returnFire {
  background-image: url('../images/return-fire.png');
}
.z_returnFire + .tool-tip {
  width:135px;
  top:0px;
}

/*Animations*/

.blink {
  animation: blink 0.1s linear infinite;
}

@keyframes blink {
  0% {opacity:1}
  50% {opacity:0}
  100% {opacity:1}
}

@keyframes puls {
  0% {background:#fd1da2}
  50% {background:#31d9f7}
  100% {background:#fd1da2}
}

@keyframes gunther {
  0% {transform:translate(10px, 10px)}
  25% {transform:translate(-40px, -60px)}
  50% {transform:translate(-20px,50px)}
  100% {transform:translate(30px, -20px)}
}

@keyframes new {
  0% {transform:translateY(0px) }
  50% {transform:translateY(7px) }
  100% {transform:translateY(0px) }
}


/*Responsive*/
@media only screen and (max-width:1305px){
  #cookies img {
    width:150px !important;
  }
}
@media only screen and (max-width:1205px){
  #timtam1 {
    display:none !important;
  }
}
@media only screen and (max-width:1048px){
  #cookies p {
    margin-bottom:5px !important;
  }
}
@media only screen and (max-width:892px){
  #cookies p {
    font-size:20px !important;
  }
}
@media only screen and (max-width:768px){
  #title h1 {
    font-size:45px !important;
  }
  .speech-bubble {
    width: 120px !important;
    min-width: 0 !important;
  }
  #board-list {
    padding-left:15px !important;
  }
  #cookies img {
    width:125px !important;
  }
  #cookies p {
    font-size:18px !important;
    margin-bottom:5px !important;
  }
  #mobileInstructions {
    display:block;
  }
  #title {
    margin-bottom: 20px !important;
  }
  #filters {
    height:auto !important;
  }
  .quote-filter {
    min-width:100px;
    width:auto;
    margin-bottom:10px;
  }
  input {
    font-size:16px !important;
  }
  h1 {
    width:100% !important;
    line-height:1.2;
    margin-top:30px !important;
  }
@media only screen and (max-width:500px){
  #changeLogButton {
    display:none;
  }
  #title-board {
    display:block;
  }
  #footer p {
    line-height:2 !important;
  }
}

}
